<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Flying</title>
  {% load static %}
	<link rel="stylesheet" href= "{% static "css/estilo.css" %}" />
</head>
<body>
	<h1 class= "titulo">Flying</h1>
	<form class= "form" method="POST" action="{% url 'polls:search' %}">
		{% csrf_token %}
		Origen: 
		<select name="origen" id="orig">
		{% for choice in paises %}
      		<option>{{choice}}</option>
		{% endfor %}
		</select>
		<br>
		<br>
		Destino:
		<select name="destino" id="dest">
		{% for choice in paises %}
      		<option>{{choice}}</option>
		{% endfor %}
   		</select>
      	<br>	
		<input type="radio" name="vuelo" value="0">Vuelo directo
		<br>
		<input type="radio" name="vuelo" value="1">Vuelo con escala
		<br>
		<input type="submit" value="Buscar"><br>
  	</form>
	{% if resultados %}
		<h1>Resultados de la búsqueda</h1>
		<table class="table">
			<tr>
				<th><strong>Aerolínea</th>
				<th><strong>IATA</th>
				<th><strong>Airline_ID</th>
				<th><strong>Escalas</th>
			</tr>
			{% for objeto in resultados %}			
				<tr>
				{% for elem in objeto %}			
					<td align="center">{{elem}}</td>
				{% endfor %}
				</tr>
			{% endfor %}
		</table>
	{% endif %}
</body>
</html>